@font-face {
    font-family: 'Akaya';
    src: url('AkayaTelivigala-Regular.woff2') format('woff2'),
        url('AkayaTelivigala-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}