:root {
    --color-pri: #dfdfeb4f;
    --color-sec: #b8afaf;
    --color-tri: #3a3939;
    --color-valid1: #679464;
    --color-valid2: #9bca98;
    --color-invalid1: #b13838;
    --color-invalid2: #e27070;
    --filter-color-valid1: invert(57%) sepia(8%) saturate(1560%) hue-rotate(68deg) brightness(92%) contrast(91%);
    --filter-color-valid2: invert(85%) sepia(23%) saturate(426%) hue-rotate(68deg) brightness(88%) contrast(86%);
    --filter-color-invalid1: invert(27%) sepia(12%) saturate(5679%) hue-rotate(325deg) brightness(107%) contrast(94%);
    --filter-color-invalid2: invert(54%) sepia(68%) saturate(563%) hue-rotate(312deg) brightness(95%) contrast(87%);
    --filter-color-pri: invert(75%) sepia(91%) saturate(3%) hue-rotate(314deg) brightness(101%) contrast(90%);
    --filter-color-sec: invert(72%) sepia(4%) saturate(324%) hue-rotate(314deg) brightness(99%) contrast(88%);
    --size-pri: clamp(1rem, 0.8rem + 0.4vw, 1.2rem);
    --radius-pri: 10px;
    --weight-pri: 900;
    --weight-sec: 700;
    --weight-tri: 500;
    font-family: 'Akaya Telivigala', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.3em;
    interpolate-size: allow-keywords;
}


button {
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: max-content 3fr 10fr;
    grid-template-rows: 7vh 20vh 8fr;
}

header {
    grid-area: 1 / 1 / 2 / 4;
    grid-template-columns: subgrid;
    display: grid;
    padding: var(--size-pri);
    background-color: var(--color-pri);
    align-items: center;
    align-content: center;
}

.user-header {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    font-size: calc(1.5 * var(--size-pri));
    font-weight: var(--weight-pri);

    img {
        height: 70%;
        aspect-ratio: 1 / 1;
        justify-self: right;
    }

    #user {
        color: black;
        justify-self: left;
        max-width: 15ch;
        font-weight: var(--weight-pri);
        z-index: 1;
    }
}

.user-header,
.timer-menu,
.nav-content,
.category-content,
.subcategory-content {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    column-gap: var(--size-pri);

    img {
        aspect-ratio: 1 / 1;
        justify-self: right;
    }

    button {
        color: var(--color-tri);
        justify-self: left;
        transition: transform 0.3s ease-in-out;
    }

    button:hover {
        transform: scale(1.1);
    }

}


.menu-header {
    width: 80%;
    display: flex;
    gap: calc(2 * var(--size-pri));
    justify-content: right;
    padding: calc(2 * var(--size-pri));
    margin: auto;

    button {
        position: relative;
        color: var(--color-tri);
        font-weight: var(--weight-sec);
        transition: box-shadow 1s;
    }

    button:after,
    button:before {
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        height: 300%;
        width: 120%;
        top: -1em;
        left: -10%;
        /* margin-top: 10px; */
        opacity: 0;
        transition: opacity 1s,
            transform 1s;
    }

    button:before {
        border-left: 1px solid var(--color-tri);
        border-right: 1px solid var(--color-tri);
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
    }

    button:after {
        border-bottom: 1px solid var(--color-tri);
        border-top: 1px solid var(--color-tri);
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0);
    }

    button:hover:after,
    button:hover:before {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        border-radius: var(--radius-pri);
    }


    button:hover {
        box-shadow: 0 0.6em 0.5em -0.5em var(--color-tri);
    }
}

nav {
    grid-area: 1 / 1 / -1 / 3;
    background-color: var(--color-pri);
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

    button {
        text-align: left;
    }
}

.timer-menu {
    grid-row: 2 / span1;

    button {
        font-weight: var(--weight-sec);
    }
}


.timer-menu,
.nav-content,
main {
    grid-auto-rows: 2em;
    padding: calc(2 * var(--size-pri));
    font-size: calc(1.3 * var(--size-pri));
}

.nav-content {
    grid-row: 3 / span1;
    grid-auto-rows: max-content;
    row-gap: calc(2 * var(--size-pri));
}

.category-content,
.subcategory-content {
    display: grid;
    grid-template-columns: subgrid;
    row-gap: calc(0.5 * var(--size-pri));
}

.category-content > button:nth-child(2) {
    font-weight: var(--weight-sec);
}

.subcategory-content {
    button {
        font-size: 0.8em;
        font-weight: var(--weight-tri);
    }

    img {
        height: 80%;
    }
}


main {
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--size-pri));
    align-items: center;
}

main > div {
    animation: fadeIn 1s ease-in-out;
}

.category-card {
    position: relative;
    width: 80%;
    margin-bottom: calc(2 * var(--size-pri));
    box-shadow: 0.1em 0.6em 0.6em -0.6em var(--color-tri);
    transition: box-shadow 0.5s ease-in-out;
    border-radius: var(--size-pri) var(--size-pri) 0 0;
}

.category-card:hover {
    box-shadow: 0.3em 0.6em 0.6em -0.6em var(--color-tri),
        -0.3em -0.3em 0.6em -0.6em var(--color-tri);
}

.category-card-checked {
    box-shadow: 0.1em 0.6em 0.6em -0.6em var(--color-valid1);
}

.category-card-checked:hover {
    box-shadow: 0.3em 0.6em 0.6em -0.6em var(--color-valid1),
        -0.3em -0.3em 0.6em -0.6em var(--color-valid1);
}

details {
    /* box-shadow: 0.1em 0.6em 0.6em -0.6em var(--color-tri); */
    padding: 0 var(--size-pri);
    color: var(--color-tri);
    border-radius: var(--radius-pri);
    overflow: hidden;
}

details::details-content {
    font-size: 1rem;
    block-size: 0;
    transition: block-size 1s, content-visibility 1s;
    transition-behavior: allow-discrete;
}

details:open::details-content {
    block-size: auto;
}

details > * {
    padding-left: var(--size-pri);
    margin: calc(0.5 * var(--size-pri));
}

details summary {
    font-size: calc(1.5 * var(--size-pri));
    font-weight: var(--weight-sec);
}

details summary:hover {
    cursor: pointer;
}

details summary:first-of-type {
    list-style-type: none;
}

details p {
    padding-block: 1rem;
    text-align: justify;
    text-wrap: pretty;
    max-width: 70ch;
}

.list-display {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-auto-rows: 2rem;
}

details p input {
    text-align: center;
    position: relative;
    inset: 0.1em 1em;
    margin-right: 2em;
    width: 1em;
    aspect-ratio: 1 / 1;
    appearance: none;
    border-radius: 10%;
    border: 1px solid var(--color-invalid1);
    box-shadow: none;
    font-size: 1em;
}

details p input:checked {
    background-color: #679464;
    border: none;

    + label {
        filter: blur(0.1em);
        color: var(--color-valid2);
    }
}

.category-interactions {
    text-align: right;
    margin-bottom: 0;
}

.category-interactions button {
    padding: 0.5em 1em;
    margin-left: var(--size-pri);
    border-radius: var(--size-pri) var(--size-pri) 0 0;
    background-color: var(--color-pri);
    font-weight: var(--weight-sec);
}

#edit-btn img {
    filter: var(--filter-color-valid1);
}

#edit-btn:hover {
    background-color: var(--color-valid2);

    img {
        filter: var(--filter-color-pri);
    }
}

#delete-btn img {
    filter: var(--filter-color-invalid1);
}

#delete-btn:hover {
    background-color: var(--color-invalid2);

    img {
        filter: var(--filter-color-pri);
    }
}


@font-face {
    font-family: 'Akaya';
    src: url('/src/fonts/AkayaTelivigala-Regular.woff2') format('woff2'),
        url('/src/fonts/AkayaTelivigala-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@keyframes fadeIn {
    0% {
        transition: block-size 1s, content-visibility 1s;
        transition-behavior: allow-discrete;
        opacity: 0;
        block-size: 0;
        content-visibility: hidden;
    }

    100% {
        opacity: 1;
        block-size: auto;
        content-visibility: visible;
    }
}